<div class="share sticky-top sticky-top-offset">
    <p>
        compartilhar:
        <a class="ms-2" target="_blank"
            href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ page.url | absolute_url }}"
            onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;"
            title="Compartilhar no Twitter">
            <i class="bi bi-twitter-x"></i>
        </a>
        <a class="ms-2" target="_blank" href="https://facebook.com/sharer.php?u={{ page.url | absolute_url }}"
            onclick="window.open(this.href, 'facebook-share', 'width=550,height=435');return false;"
            title="Compartilhar no Facebook">
            <i class="bi bi-facebook"></i>
        </a>
        <a class="ms-2" target="_blank"
            href="https://bsky.app/intent/compose?text={{ page.title }} {{ page.url | absolute_url }}"
            onclick="window.open(this.href, 'bluesky-share', 'width=550,height=435');return false;"
            title="Compartilhar no Bluesky">
            <i class="bi bi-bluesky"></i>
        </a>
    </p>
</div>